@font-face {
    font-family: 'titleFont';
    src: url(./title-font.woff),
    url(./title-font.woff2);
}
@font-face {
    font-family:'navFont';
    src: url(./nav-font.woff),
    url(./nav-font.woff2);
}
* {
    /* outline: 1px solid palevioletred; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
}
.site-container {
    height: 100vh;

    display: grid;
    grid-template-rows: repeat(2,1fr) 8fr;
}

.title,.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    background-color: rgb(2, 2, 53);
}
.title {
    gap: 1rem;
    font-family: 'titleFont';
    font-size: 3rem;
}
.nav {
    gap: 1rem;
    font-family: 'navFont';
}


.tab:hover{
    text-decoration: underline;
    cursor: pointer;
}

.selected {
    font-weight:600;
}

.pageload{

    background-image: url(./index-image.avif);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    /* width: 100%;
    /* background-color: rgb(2, 2, 53); */

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pageload-img{
    /* margin: auto; */
    /* height: 80vh; */

}

.res-welcome{
    font-family: 'navFont';
    font-size: 4rem;
    margin-bottom: 5rem;
}



label{
    display: inline-block;
    width: 5rem;

}
input{
    appearance: none;
    width: 10rem;
    border: 2px solid rgb(2, 2, 53);
    padding: 0.1rem 0.5rem;
    /* border-radius: 0.3rem; */
    /* border: none; */
}

input:focus{
    /* background-color: red; */
    border-radius: 0.3rem;
}

label,input, .res-btn{
    font-family: 'navFont';
}

form>div{
    padding-bottom: 0.5rem;
}
form{
    display: inline-block;
    border: 3px solid rgb(2, 2, 53);
    border-radius: 0.5rem;

    padding: 1rem;
    /* margin: 0 auto; */
}

.content{
    /* margin: 0 auto; */
    text-align: center;
}
.res-btn{
    appearance: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;

    border-radius: 0.5rem;
    border: 4px solid rgb(2, 2, 53);
    /* border-width: 4px; */
    
    text-transform:uppercase;

    background-color: white;
    color: rgb(2, 2, 53);
}
.res-btn:hover{
    background-color: lightgrey;
}
.res-btn:focus{
    color: white;
    background-color: rgb(2, 2, 53);
}

.menu-content{
    /* background-color: rgb(2, 2, 53);
    color: white; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.meal{
    /* width: 25%; */
}
.meal-type{
    font-family: 'navFont';
    text-transform: uppercase;
    font-weight: 600;
}
.meal-item{
    text-decoration: underline;
}
.meal-desc{
    font-style: italic;
    /* text-align: justify; */
    /* margin-bottom: 1rem; */
}
.dish{
    /* border: 1px solid rgb(2, 2, 53); */
    margin-bottom: 1rem;
}