@font-face {
    font-family: 'titleFont';
    src: url(./title-font.woff),
    url(./title-font.woff2);
}
@font-face {
    font-family:'navFont';
    src: url(./nav-font.woff),
    url(./nav-font.woff2);
}
* {
    outline: 1px solid palevioletred;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
}
.site-container {
    height: 100vh;

    display: grid;
    grid-template-rows: repeat(2,1fr) 8fr;
}

.title,.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    background-color: rgb(2, 2, 53);
}
.title {
    gap: 1rem;
    font-family: 'titleFont';
    font-size: 3rem;
}
.nav {
    gap: 1rem;
    font-family: 'navFont';
}


.tab:hover{
    text-decoration: underline;
    cursor: pointer;
}

.selected {
    font-weight:600;
}